/*nav{align-items: 
margin-top:5px;
position: static;}*/
.conteinerhome{background-color: black}

nav{ background-color: black }

.logonav{ margin: 5px;
margin-top: 10px;
padding-left: 15px; 
padding-bottom:10px;}

.nav-link{color: white;
text-decoration:none;
margin-top:30px;}

.nav-link:hover{ color:#b21f66; }

nav ul li{display: inline-block; 
  color:white; 
  padding:10px;
  position:static;}

li a {text-decoration: none; 
  color:white;}

nav ul li ul {display:none;
  position:relative;
background-color: grey}

nav ul li:hover ul {display: inline-block; 
  position:absolute;
  color:white;}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover ;
  -o-background-size: cover;
  background-size: cover;
}

.conteinervideohome{ background:#b21f66;
padding-top: 10px;
margin:30px;}

.boddyhome{background-color: black;
margin-top:20px;}

.h1discografia{ margin-top:20px;
color:#b21f66;}

.disco1{margin-top:40px;
padding-top:10px;
margin-left:50px;
padding-left:30px; }

.disco2{margin-top:40px;
padding-top:10px;
margin-left:50px;
padding-left:30px; }

.disco3{margin-top:40px;
padding-top:10px;
margin-left:15px;
margin-right: 10px;
padding-left:30px; }
/*
footer{color:black
margin-top:30px;
margin-bottom:40px;}*/